.button {
  text-decoration: none;
  background-color: map-get($map: $color, $key: amarillo);
  border: 1px solid map-get($map: $color, $key: amarillo);
  color: rgb(46, 46, 46);
  border-radius: 8px;
  width: 30%;
  font-family: $font-sans;
}


