.check {
  grid-column: 7/12;
  border-radius: 5px;
  background-color: #F4FF7F;
  height: auto;
  color: #1A1A1A;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;

  p{
    margin: 10px;
  }
  
}  