
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

$color: (
  amarillo: yellow,
  blanco: white,
  gris: #2B2C32,
);

$font-sans:  'PT Sans', sans-serif; 

$font-titan: 'Titan One', cursive;
